<fuse-progress-bar></fuse-progress-bar>
<mat-storybook-button (handleClick)="buttonClick($event)"></mat-storybook-button>
<div class="container" id="container-1">
  <fuse-sidebar [folded]="false" class="navbar-fuse-sidebar" lockedOpen="gt-md" name="navbar">
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
    This is a test sidebvar
  </fuse-sidebar>
</div>

